/* screen - web-1920-6 */

.web-1920-6 {
  background: linear-gradient(180deg, #020520 0%, #777b9b 0.83%, #2700f6 2.92%, #070a26 43.5%, #04071e 98.74%, #000000 100%, #555767 100%);
  background-color: rgba(255,255,255,1.0);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-6 .rectangle-19-cP7Vcs {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-6 .dota-2-logo-700x394-cP7Vcs {
  background-color: transparent;
  height: 115px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 159px;
}

.web-1920-6 .x212-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1492px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 417px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-6 .id-topic1475-cP7Vcs {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: 225px;
}

.web-1920-6 .x4-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1625px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 489px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .x5-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1641px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 390px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .x62-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1699px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 495px;
  white-space: nowrap;
  width: auto;
}

.web-1920-6 .group-7-cP7Vcs {
  background-color: transparent;
  height: 41px;
  left: 579px;
  position: absolute;
  top: 157px;
  width: 66px;
}

.web-1920-6 .rectangle-5-mhi2Ki {
  background: linear-gradient(180deg, #77ff00 0%, #076f7b 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-6 .textlabel-mhi2Ki {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(37.50% - 11px);
  color: var(--white);
  font-family: var(--font-family-segoeui-bolditalic);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(31.35% - 12px);
  text-align: left;
  width: 37px;
}

.web-1920-6 .x15426018832555-5047766500805n-cP7Vcs {
  background-color: transparent;
  border-radius: 70px;
  height: 415px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 217px;
  width: 565px;
}

.web-1920-6 .id-topic1475-ftk7AB {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 381px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 158px;
  width: 225px;
}

.web-1920-6 .id-steam-1234567891-cP7Vcs {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 222px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 663px;
  width: 319px;
}

.web-1920-6 .rectangle-72-cP7Vcs {
  background: linear-gradient(212.09deg, #5f73f2 15.59%, #0ec6e4 73.86%);
  background-color: transparent;
  border-radius: 90px;
  height: 636px;
  left: 701px;
  position: absolute;
  top: 217px;
  width: 1111px;
}

.web-1920-6 .rectangle-73-cP7Vcs {
  background-color: var(--white);
  border-radius: 25px;
  height: 49px;
  left: 784px;
  position: absolute;
  top: 297px;
  width: 511px;
}

.web-1920-6 .rectangle-74-cP7Vcs {
  background-color: var(--white);
  border-radius: 25px;
  height: 49px;
  left: 784px;
  position: absolute;
  top: 393px;
  width: 511px;
}

.web-1920-6 .rectangle-75-cP7Vcs {
  background-color: var(--white);
  border-radius: 25px;
  height: 49px;
  left: 1288px;
  position: absolute;
  top: 516px;
  width: 511px;
}

.web-1920-6 .textbox {
  background-color: var(--white);
  border-radius: 76px;
  height: 151px;
  left: 701px;
  position: absolute;
  top: 877px;
  width: 998px;
}

.web-1920-6 .rectangle-77-cP7Vcs {
  background: linear-gradient(180deg, #11e911 0%, #6dff83 0%, #13e38e 66.36%, #15ddad 100%, #16dc85 100%, #18d5c2 100%);
  background-color: transparent;
  border-radius: 19px;
  height: 71px;
  left: 1704px;
  position: absolute;
  top: 918px;
  width: 187px;
}

.web-1920-6 .rectangle-80-cP7Vcs {
  background: linear-gradient(180deg, #e2e911 0%, #d9ff6d 0%, #13e38e 66.36%, #39bf9f 100%, #16dc85 100%, #18d5c2 100%);
  background-color: transparent;
  border-radius: 19px;
  height: 71px;
  left: 784px;
  position: absolute;
  top: 738px;
  width: 187px;
}

.web-1920-6 .textlabel-cP7Vcs {
  background-color: transparent;
  height: auto;
  left: 1775px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 930px;
  width: 156px;
}

.web-1920-6 .textlabel-ftk7AB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 811px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 750px;
  width: 156px;
}

.web-1920-6 .group-32-cP7Vcs {
  background-color: transparent;
  cursor: pointer;
  height: 41px;
  left: 1698px;
  position: absolute;
  top: 54px;
  width: 111px;
}

.web-1920-6 .rectangle-5-BJ8xk4 {
  background: linear-gradient(180deg, #ff0000 0%, #7b0707 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 9px);
}

.web-1920-6 .logout-BJ8xk4 {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(44.74% - 10px);
  height: 22px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 3px);
}

.web-1920-6 .icon-ionic-md-sad-BJ8xk4 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 17px;
  top: calc(47.33% - 11px);
  width: 22px;
}

.web-1920-6 .path-8-TFymqk {
  background-color: transparent;
  bottom: calc(31.82% - 1px);
  height: 4px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.web-1920-6 .path-9-TFymqk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-6 .path-10-TFymqk {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(29.41% - 1px);
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-6 .path-11-TFymqk {
  background-color: transparent;
  height: 4px;
  left: calc(29.41% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(35.29% - 2px);
  width: 4px;
}
