/* screen - web-1920-1 */



.web-1920-1 {
  background: linear-gradient(180deg, #2700f6 0%, #090909 44.34%, #040404 100%);
  background-color: rgba(255,255,255,1.0);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-1 .group-10-HlzXCz {
  background-color: transparent;
  height: 302px;
  left: 73px;
  position: absolute;
  top: 659px;
  width: 1048px;
}

.web-1920-1 .group-4-H0StxI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .group-5-xtkSFT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .rectangle-62-qXxKNy {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  border-radius: 53px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .x1-xtkSFT {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: calc(25.17% - 1px);
  height: 2px;
  left: calc(26.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-1 .x2-xtkSFT {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: 46px;
  height: 2px;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-1 .rectangle-59-xtkSFT {
  background-color: var(--burnt-maroon);
  bottom: 0px;
  height: 49px;
  left: 167px;
  position: absolute;
  width: 37px;
}

.web-1920-1 .rectangle-60-xtkSFT {
  background-color: var(--maroon);
  height: 49px;
  position: absolute;
  right: 0px;
  top: calc(35.97% - 18px);
  width: 37px;
}

.web-1920-1 .rectangle-61-xtkSFT {
  background: linear-gradient(180deg, #800000 0%, #400000 100%);
  background-color: transparent;
  border-radius: 25px;
  bottom: 0px;
  height: 211px;
  position: absolute;
  right: 0px;
  width: 881px;
}

.web-1920-1 .group-11-HlzXCz {
  background-color: transparent;
  height: 302px;
  left: 73px;
  position: absolute;
  top: 305px;
  width: 1048px;
}

.web-1920-1 .group-4-jcx1xR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .group-5-CjE3H2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .rectangle-62-FJH8Q9 {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  border-radius: 53px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .x11-CjE3H2 {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: calc(25.17% - 1px);
  height: 2px;
  left: calc(26.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-1 .x21-CjE3H2 {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: 46px;
  height: 2px;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-1 .rectangle-59-CjE3H2 {
  background-color: var(--burnt-maroon);
  bottom: 0px;
  height: 49px;
  left: 167px;
  position: absolute;
  width: 37px;
}

.web-1920-1 .rectangle-60-CjE3H2 {
  background-color: var(--maroon);
  height: 49px;
  position: absolute;
  right: 0px;
  top: calc(35.97% - 18px);
  width: 37px;
}

.web-1920-1 .rectangle-61-CjE3H2 {
  background: linear-gradient(180deg, #800000 0%, #400000 100%);
  background-color: transparent;
  border-radius: 25px;
  bottom: 0px;
  height: 211px;
  position: absolute;
  right: 0px;
  width: 881px;
}

.web-1920-1 .rectangle-63-HlzXCz {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-1 .path-14-HlzXCz {
  background-color: transparent;
  height: 162px;
  left: 240px;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 0px;
}

.web-1920-1 .textbox-p {
  background-color: var(--white);
  height: 27px;
  left: 1538px;
  position: absolute;
  top: 71px;
  width: 139px;
}

.web-1920-1 .textbox-u {
  background-color: var(--white);
  height: 27px;
  left: 1358px;
  position: absolute;
  top: 71px;
  width: 139px;
}

.web-1920-1 .user-name-HlzXCz {
  background-color: transparent;
  height: 36px;
  left: 1358px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 111px;
}

.web-1920-1 .password-HlzXCz {
  background-color: transparent;
  height: 36px;
  left: 1538px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 89px;
}

.web-1920-1 .for-got-plassword-HlzXCz {
  background-color: transparent;
  color: #f21a1a;
  cursor: pointer;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1538px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 168px;
}

.web-1920-1 .rectangle-2-HlzXCz {
  background: linear-gradient(180deg, #11e911 0%, #00fea7 100%);
  background-color: transparent;
  border-radius: 21px;
  height: 41px;
  left: 1737px;
  position: absolute;
  top: 32px;
  width: 100px;
}

.web-1920-1 .login-HlzXCz {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  left: 1755px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 68px;
}

.web-1920-1 .rectangle-5-HlzXCz {
  background: linear-gradient(180deg, #f50d0d 0%, #ffa200 100%);
  background-color: transparent;
  border-radius: 21px;
  height: 41px;
  left: 1735px;
  position: absolute;
  top: 84px;
  width: 100px;
}

.web-1920-1 .register-HlzXCz {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 1748px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 89px;
  width: 81px;
}

.web-1920-1 .dota-2-logo-700x394-HlzXCz {
  background-color: transparent;
  height: 115px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 159px;
}

.web-1920-1 .tim11245-HlzXCz {
  background-color: transparent;
  height: 52px;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 317px;
  width: 147px;
}

.web-1920-1 .textlabel-HlzXCz {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 435px;
  width: 145px;
}

.web-1920-1 .x-HlzXCz {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 477px;
  width: 145px;
}

.web-1920-1 .textlabel-YIwGnj {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 838px;
  width: 145px;
}

.web-1920-1 .textlabel-2G68wd {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 796px;
  width: 145px;
}

.web-1920-1 .jime11295-HlzXCz {
  background-color: transparent;
  height: 52px;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 673px;
  width: 147px;
}

.web-1920-1 .x2-mmr-3k-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 240px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 410px;
  width: 874px;
}

.web-1920-1 .x2-mmr-3k-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 760px;
  width: 874px;
}

.web-1920-1 .image-HlzXCz {
  background-color: transparent;
  border-radius: 55px/50.5px;
  height: 101px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 316px;
  width: 110px;
}

.web-1920-1 .image-YIwGnj {
  background-color: transparent;
  border-radius: 54px/50px;
  height: 100px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 673px;
  width: 108px;
}

.web-1920-1 .x24-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1507px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 347px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-1 .x25-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1497px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 397px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-1 .rectangle-99-HlzXCz {
  background: linear-gradient(180deg, #920d0d 0%, #400000 100%);
  background-color: transparent;
  border-radius: 22px;
  height: 116px;
  left: 1313px;
  position: absolute;
  top: 285px;
  width: 466px;
}

.web-1920-1 .rating-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1486px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x28-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1521px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-1 .x29-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1646px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 370px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .icon-simple-googlehangoutschat-HlzXCz {
  background-color: transparent;
  height: 36px;
  left: 1735px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 31px;
}

.web-1920-1 .x31-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1453px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 458px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x32-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1642px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 462px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .rectangle-99-YIwGnj {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1319px;
  position: absolute;
  top: 444px;
  width: 463px;
}

.web-1920-1 .path-19-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1344px;
  object-fit: cover;
  position: absolute;
  top: 460px;
  width: 419px;
}

.web-1920-1 .rectangle-100-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 503px;
  width: 465px;
}

.web-1920-1 .path-20-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 519px;
  width: 419px;
}

.web-1920-1 .rectangle-101-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 560px;
  width: 465px;
}

.web-1920-1 .path-21-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 388px;
}

.web-1920-1 .rectangle-102-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 619px;
  width: 465px;
}

.web-1920-1 .line-4-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 635px;
  width: 388px;
}

.web-1920-1 .rectangle-103-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 680px;
  width: 465px;
}

.web-1920-1 .path-27-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 696px;
  width: 388px;
}

.web-1920-1 .rectangle-104-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 741px;
  width: 465px;
}

.web-1920-1 .path-22-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 757px;
  width: 345px;
}

.web-1920-1 .rectangle-105-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 802px;
  width: 465px;
}

.web-1920-1 .path-23-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 818px;
  width: 343px;
}

.web-1920-1 .rectangle-106-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 863px;
  width: 465px;
}

.web-1920-1 .path-24-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 879px;
  width: 340px;
}

.web-1920-1 .rectangle-107-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 923px;
  width: 465px;
}

.web-1920-1 .path-25-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 939px;
  width: 293px;
}

.web-1920-1 .rectangle-108-HlzXCz {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 984px;
  width: 465px;
}

.web-1920-1 .path-26-HlzXCz {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 1000px;
  width: 293px;
}

.web-1920-1 .x0-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1336px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 456px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x10-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1765px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 454px;
  width: 22px;
}

.web-1920-1 .x0-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 1335px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 513px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-2G68wd {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 572px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-C5kjtI {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 631px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-J3zfj9 {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 690px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-9uSfiW {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 753px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-3RLlyz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 812px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-OSl0Ws {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 875px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-4tXwqL {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 933px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x0-EW4qih {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 996px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .x10-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 1764px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 511px;
  width: 22px;
}

.web-1920-1 .x9-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 570px;
  width: 22px;
}

.web-1920-1 .x9-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 627px;
  width: 22px;
}

.web-1920-1 .x9-2G68wd {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 686px;
  width: 22px;
}

.web-1920-1 .x8-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1691px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 749px;
  width: 22px;
}

.web-1920-1 .x8-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 1689px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 810px;
  width: 22px;
}

.web-1920-1 .x8-2G68wd {
  background-color: transparent;
  height: auto;
  left: 1689px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 869px;
  width: 22px;
}

.web-1920-1 .x7-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1643px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 933px;
  width: 22px;
}

.web-1920-1 .x7-YIwGnj {
  background-color: transparent;
  height: auto;
  left: 1643px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 992px;
  width: 22px;
}

.web-1920-1 .johnathan-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1335px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 432px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .puzzie-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 491px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .jack-plummer-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 548px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .duke-yeun-yim-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 607px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .yim-carry-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 668px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .jaxx-kurry-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 729px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .smoky-every-day-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 790px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .fury7-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 851px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .hollji-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 912px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .garry-norman-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1331px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 972px;
  white-space: nowrap;
  width: auto;
}
