/* screen - web-1920-9 */

.web-1920-9 {
  background: linear-gradient(180deg, #020520 0%, #777b9b 0.83%, #2700f6 2.92%, #070a26 43.5%, #04071e 98.74%, #000000 100%, #555767 100%);
  background-color: rgba(255,255,255,1.0);
  height: 1537px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-9 .rectangle-19-NZx1Eq {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  height: 138px;
  left: 9px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-9 .dota-2-logo-700x394-NZx1Eq {
  background-color: transparent;
  height: 115px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 159px;
}

.web-1920-9 .x215-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1001px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 317px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-9 .x310-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1001px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 535px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-9 .x41-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1001px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 745px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-9 .x52-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 993px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 367px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-9 .x63-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 993px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 594px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-9 .x72-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 993px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 804px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-9 .id-topic1475-NZx1Eq {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: 225px;
}

.web-1920-9 .x92-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1023px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 313px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-9 .x10-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1023px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 530px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-9 .x1110-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1023px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 740px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-9 .x123-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1147px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 466px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x133-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1147px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 683px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x143-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1167px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 340px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x153-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1252px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 473px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .group-7-NZx1Eq {
  background-color: transparent;
  cursor: pointer;
  height: 41px;
  left: 1687px;
  position: absolute;
  top: 49px;
  width: 111px;
}

.web-1920-9 .rectangle-5-IrQSa1 {
  background: linear-gradient(180deg, #ff0000 0%, #7b0707 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 9px);
}

.web-1920-9 .logout-IrQSa1 {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(44.74% - 10px);
  height: 22px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 3px);
}

.web-1920-9 .icon-ionic-md-sad-IrQSa1 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 17px;
  top: calc(47.33% - 11px);
  width: 22px;
}

.web-1920-9 .path-8-1FlyJd {
  background-color: transparent;
  bottom: calc(31.82% - 1px);
  height: 4px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.web-1920-9 .path-9-1FlyJd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-9 .path-10-1FlyJd {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(29.41% - 1px);
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-9 .path-11-1FlyJd {
  background-color: transparent;
  height: 4px;
  left: calc(29.41% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-9 .x15426018832555-5047766500805n-NZx1Eq {
  background-color: transparent;
  border-radius: 70px;
  height: 415px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 217px;
  width: 565px;
}

.web-1920-9 .id-topic1475-GpZpbt {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 672px;
  width: 225px;
}

.web-1920-9 .textlabel-NZx1Eq {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 762px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 930px;
  width: 225px;
}

.web-1920-9 .rectangle-97-NZx1Eq {
  background-color: var(--white);
  border-radius: 25px;
  height: 49px;
  left: 762px;
  position: absolute;
  top: 1019px;
  width: 511px;
}

.web-1920-9 .rectangle-88-NZx1Eq {
  background: linear-gradient(180deg, #11e911 0%, #ff6d77 0%, #9713e3 100%, #330fef 100%, #16dc85 100%, #18d5c2 100%);
  background-color: transparent;
  border-radius: 19px;
  height: 34px;
  left: 965px;
  position: absolute;
  top: 1090px;
  width: 97px;
}

.web-1920-9 .x-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1000px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1077px;
  width: 30px;
}

.web-1920-9 .group-31-NZx1Eq {
  background-color: transparent;
  cursor: pointer;
  height: 94px;
  left: 1185px;
  position: absolute;
  top: 1232px;
  width: 491px;
}

.web-1920-9 .rectangle-5-onsE33 {
  background: linear-gradient(180deg, #77ff00 0%, #076f7b 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-9 .textlabel-onsE33 {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-segoeui-bolditalic);
  font-size: var(--font-size-xxxxxl);
  font-style: italic;
  font-weight: 700;
  height: 57px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  right: calc(49.69% - 85px);
  text-align: left;
  top: 19px;
  width: 172px;
}

.web-1920-9 .x242-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1006px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 381px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-9 .x252-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1006px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 381px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-9 .x262-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 998px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 431px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-9 .x272-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 998px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 431px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-9 .x282-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1152px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 542px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x292-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1152px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 542px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x301-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1171px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 404px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x312-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1171px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 404px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x322-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1256px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 549px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x332-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1256px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 549px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .rectangle-110-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 763px;
  position: absolute;
  top: 352px;
  width: 560px;
}

.web-1920-9 .path-28-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 788px;
  object-fit: cover;
  position: absolute;
  top: 368px;
  width: 516px;
}

.web-1920-9 .rectangle-111-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 430px;
  width: 562px;
}

.web-1920-9 .path-29-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 785px;
  object-fit: cover;
  position: absolute;
  top: 446px;
  width: 516px;
}

.web-1920-9 .rectangle-112-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 498px;
  width: 562px;
}

.web-1920-9 .path-30-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 786px;
  object-fit: cover;
  position: absolute;
  top: 516px;
  width: 485px;
}

.web-1920-9 .rectangle-113-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 569px;
  width: 562px;
}

.web-1920-9 .line-5-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 786px;
  object-fit: cover;
  position: absolute;
  top: 586px;
  width: 485px;
}

.web-1920-9 .rectangle-114-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 642px;
  width: 562px;
}

.web-1920-9 .path-31-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 786px;
  object-fit: cover;
  position: absolute;
  top: 658px;
  width: 485px;
}

.web-1920-9 .rectangle-115-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 715px;
  width: 562px;
}

.web-1920-9 .path-32-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 787px;
  object-fit: cover;
  position: absolute;
  top: 730px;
  width: 345px;
}

.web-1920-9 .rectangle-116-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 788px;
  width: 562px;
}

.web-1920-9 .path-33-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 786px;
  object-fit: cover;
  position: absolute;
  top: 803px;
  width: 343px;
}

.web-1920-9 .rectangle-117-NZx1Eq {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 762px;
  position: absolute;
  top: 861px;
  width: 562px;
}

.web-1920-9 .path-34-NZx1Eq {
  background-color: transparent;
  height: 1px;
  left: 786px;
  object-fit: cover;
  position: absolute;
  top: 875px;
  width: 340px;
}

.web-1920-9 .x0-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 780px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 364px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x10-GpZpbt {
  background-color: transparent;
  height: auto;
  left: 1306px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 362px;
  width: 22px;
}

.web-1920-9 .x0-GpZpbt {
  background-color: transparent;
  height: auto;
  left: 774px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 441px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-Mxjmlc {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 511px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-AXDOn8 {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 581px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-QfBKLy {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 652px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-ZSWTbL {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 727px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-9HdnI9 {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 797px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x0-UGyttj {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 872px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .x10-Mxjmlc {
  background-color: transparent;
  height: auto;
  left: 1301px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 434px;
  width: 22px;
}

.web-1920-9 .x9-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1275px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 509px;
  width: 22px;
}

.web-1920-9 .x9-GpZpbt {
  background-color: transparent;
  height: auto;
  left: 1275px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 577px;
  width: 22px;
}

.web-1920-9 .x9-Mxjmlc {
  background-color: transparent;
  height: auto;
  left: 1275px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 647px;
  width: 22px;
}

.web-1920-9 .x8-NZx1Eq {
  background-color: transparent;
  height: auto;
  left: 1216px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 722px;
  width: 22px;
}

.web-1920-9 .x8-GpZpbt {
  background-color: transparent;
  height: auto;
  left: 1214px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 795px;
  width: 22px;
}

.web-1920-9 .x8-Mxjmlc {
  background-color: transparent;
  height: auto;
  left: 1214px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 865px;
  width: 22px;
}

.web-1920-9 .textlabel-GpZpbt {
  background-color: transparent;
  height: auto;
  left: 779px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 340px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-Mxjmlc {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 399px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-AXDOn8 {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 483px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-QfBKLy {
  background-color: transparent;
  height: auto;
  left: 776px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 553px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-ZSWTbL {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 626px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-9HdnI9 {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 698px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-UGyttj {
  background-color: transparent;
  height: auto;
  left: 776px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 771px;
  white-space: nowrap;
  width: auto;
}

.web-1920-9 .textlabel-4T04aX {
  background-color: transparent;
  height: auto;
  left: 776px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 843px;
  white-space: nowrap;
  width: auto;
}
