/* screen - web-1920-3 */

.web-1920-3 {
  background: linear-gradient(180deg, #020520 0%, #777b9b 0.83%, #2700f6 2.92%, #070a26 30.96%, #04071e 98.74%, #000000 100%, #555767 100%);
  background-color: rgba(255,255,255,1.0);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-3 .rectangle-19-3lkoUN {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-3 .dota-2-logo-700x394-3lkoUN {
  background-color: transparent;
  height: 115px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 159px;
}

.web-1920-3 .x26-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1502px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 367px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-3 .x3-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1492px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 417px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-3 .id-topic1475-3lkoUN {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: 225px;
}

.web-1920-3 .rate-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1502px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 336px;
  white-space: nowrap;
  width: auto;
}

.web-1920-3 .x6-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1516px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 363px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-3 .x7-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1625px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 489px;
  white-space: nowrap;
  width: auto;
}

.web-1920-3 .x8-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1641px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 390px;
  white-space: nowrap;
  width: auto;
}

.web-1920-3 .x9-3lkoUN {
  background-color: transparent;
  height: auto;
  left: 1699px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 495px;
  white-space: nowrap;
  width: auto;
}

.web-1920-3 .textlabel-3lkoUN {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  color: #f5f5f5;
  font-family: var(--font-family-segoeui-regular);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 193px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 276px;
  width: 304px;
}

.web-1920-3 .text-comment {
  background: linear-gradient(180deg, #800000 0%, #b71616 4.17%, #400000 100%);
  background-color: transparent;
  border: 5px solid var(--white);
  border-radius: 72px;
  height: 439px;
  left: 162px;
  position: absolute;
  top: 402px;
  width: 1068px;
}

.web-1920-3 .chon-3lkoUN {
  background-color: transparent;
  height: 572px;
  left: 1363px;
  object-fit: cover;
  position: absolute;
  top: 332px;
  width: 576px;
}

.web-1920-3 .repeat-grid-2-3lkoUN {
  background-color: transparent;
  height: 69px;
  left: 899px;
  position: absolute;
  top: 870px;
  width: 331px;
}

.web-1920-3 .x0-ufzXOB {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.web-1920-3 .path-6-Jd4JZv {
  background-color: transparent;
  cursor: pointer;
  height: 68px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 154px;
}

.web-1920-3 .x16-ufzXOB {
  background-color: transparent;
  height: 68px;
  left: 174px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.web-1920-3 .path-6-ufxuBZ {
  background-color: transparent;
  cursor: pointer;
  height: 68px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 154px;
}

.web-1920-3 .group-7-3lkoUN {
  background-color: transparent;
  cursor: pointer;
  height: 41px;
  left: 1687px;
  position: absolute;
  top: 49px;
  width: 111px;
}

.web-1920-3 .rectangle-5-JM0yex {
  background: linear-gradient(180deg, #ff0000 0%, #7b0707 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 9px);
}

.web-1920-3 .logout-JM0yex {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(44.74% - 10px);
  height: 22px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 3px);
}

.web-1920-3 .icon-ionic-md-sad-JM0yex {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 17px;
  top: calc(47.33% - 11px);
  width: 22px;
}

.web-1920-3 .path-8-V5H0Ti {
  background-color: transparent;
  bottom: calc(31.82% - 1px);
  height: 4px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.web-1920-3 .path-9-V5H0Ti {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .path-10-V5H0Ti {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(29.41% - 1px);
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-3 .path-11-V5H0Ti {
  background-color: transparent;
  height: 4px;
  left: calc(29.41% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-3 .textlabel-Wx4Imc {
  background-color: transparent;
  height: 52px;
  left: 1121px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 882px;
  width: 54px;
}

.web-1920-3 .textlabel-uvdYXm {
  background-color: transparent;
  height: 52px;
  left: 946px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 882px;
  width: 54px;
}
