/* screen - web-1920-2 */

.web-1920-2 {
  background: linear-gradient(180deg, #2700f6 0%, #040404 43.93%, #000107 100%);
  background-color: rgba(255,255,255,1.0);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-2 .group-8-07RRWM {
  background-color: transparent;
  cursor: pointer;
  height: 302px;
  left: 73px;
  position: absolute;
  top: 305px;
  width: 1048px;
}

.web-1920-2 .group-4-Hq8ZCp {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-2 .group-5-4biNxc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .rectangle-62-pw9E0m {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  border-radius: 53px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-2 .x12-4biNxc {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: calc(25.17% - 1px);
  height: 2px;
  left: calc(26.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-2 .x22-4biNxc {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: 46px;
  height: 2px;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-2 .rectangle-59-4biNxc {
  background-color: var(--burnt-maroon);
  bottom: 0px;
  height: 49px;
  left: 167px;
  position: absolute;
  width: 37px;
}

.web-1920-2 .rectangle-60-4biNxc {
  background-color: var(--maroon);
  height: 49px;
  position: absolute;
  right: 0px;
  top: calc(35.97% - 18px);
  width: 37px;
}

.web-1920-2 .rectangle-61-4biNxc {
  background: linear-gradient(180deg, #800000 0%, #400000 100%);
  background-color: transparent;
  border-radius: 25px;
  bottom: 0px;
  height: 211px;
  position: absolute;
  right: 0px;
  width: 881px;
}

.web-1920-2 .group-9-07RRWM {
  background-color: transparent;
  cursor: pointer;
  height: 302px;
  left: 73px;
  position: absolute;
  top: 659px;
  width: 1048px;
}

.web-1920-2 .group-4-UNTmAb {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-2 .group-5-I1sJzn {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .rectangle-62-Grygmn {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  border-radius: 53px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-2 .x13-I1sJzn {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: calc(25.17% - 1px);
  height: 2px;
  left: calc(26.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-2 .x23-I1sJzn {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  bottom: 46px;
  height: 2px;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}

.web-1920-2 .rectangle-59-I1sJzn {
  background-color: var(--burnt-maroon);
  bottom: 0px;
  height: 49px;
  left: 167px;
  position: absolute;
  width: 37px;
}

.web-1920-2 .rectangle-60-I1sJzn {
  background-color: var(--maroon);
  height: 49px;
  position: absolute;
  right: 0px;
  top: calc(35.97% - 18px);
  width: 37px;
}

.web-1920-2 .rectangle-61-I1sJzn {
  background: linear-gradient(180deg, #800000 0%, #400000 100%);
  background-color: transparent;
  border-radius: 25px;
  bottom: 0px;
  height: 211px;
  position: absolute;
  right: 0px;
  width: 881px;
}

.web-1920-2 .rectangle-19-07RRWM {
  background: linear-gradient(180deg, #f2c34c 0%, #ffec74 0%, #ffc013 100%, #9b7b26 100%, #6d5310 100%);
  background-color: transparent;
  height: 138px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-2 .dota-2-logo-700x394-07RRWM {
  background-color: transparent;
  height: 115px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 159px;
}

.web-1920-2 .image-07RRWM {
  background-color: transparent;
  border-radius: 55px/50.5px;
  height: 101px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 316px;
  width: 110px;
}

.web-1920-2 .image-keAnDz {
  background-color: transparent;
  border-radius: 54px/50px;
  height: 100px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 673px;
  width: 108px;
}

.web-1920-2 .tim11245-07RRWM {
  background-color: transparent;
  height: 52px;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 317px;
  width: 147px;
}

.web-1920-2 .textlabel-07RRWM {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 435px;
  width: 145px;
}

.web-1920-2 .x-07RRWM {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 477px;
  width: 145px;
}

.web-1920-2 .textlabel-keAnDz {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 838px;
  width: 145px;
}

.web-1920-2 .textlabel-A1emAz {
  background-color: transparent;
  height: 44px;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 796px;
  width: 145px;
}

.web-1920-2 .jime11295-07RRWM {
  background-color: transparent;
  height: 52px;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 673px;
  width: 147px;
}

.web-1920-2 .x2-mmr-3k-07RRWM {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 410px;
  width: 874px;
}

.web-1920-2 .x2-mmr-3k-keAnDz {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 760px;
  width: 874px;
}

.web-1920-2 .x14-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1502px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 367px;
  white-space: nowrap;
  width: 23px;
}

.web-1920-2 .x15-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1492px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 417px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-2 .id-topic1475-07RRWM {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 1428px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 225px;
}

.web-1920-2 .rectangle-12-07RRWM {
  background: linear-gradient(180deg, #fecc4f 0%, #b28309 100%, #6d5310 100%);
  background-color: transparent;
  border: 5px solid var(--white);
  border-radius: 15px;
  cursor: pointer;
  height: 57px;
  left: 822px;
  position: absolute;
  top: 219px;
  width: 299px;
}

.web-1920-2 .rectangle-11-07RRWM {
  background: linear-gradient(180deg, #920d0d 0%, #400000 100%);
  background-color: transparent;
  border-radius: 22px;
  height: 116px;
  left: 1308px;
  position: absolute;
  top: 305px;
  width: 466px;
}

.web-1920-2 .rating-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1481px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 344px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x20-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1516px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 363px;
  white-space: nowrap;
  width: 69px;
}

.web-1920-2 .x211-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1641px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 390px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .textlabel-0jfHor {
  -webkit-text-stroke: 1px var(--asphalt);
  background-color: transparent;
  height: auto;
  left: 899px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 224px;
  width: 146px;
}

.web-1920-2 .icon-simple-googlehangoutschat-07RRWM {
  background-color: transparent;
  height: 36px;
  left: 1730px;
  object-fit: cover;
  position: absolute;
  top: 374px;
  width: 31px;
}

.web-1920-2 .group-7-07RRWM {
  background-color: transparent;
  cursor: pointer;
  height: 41px;
  left: 1687px;
  position: absolute;
  top: 49px;
  width: 111px;
}

.web-1920-2 .rectangle-5-SUBcrq {
  background: linear-gradient(180deg, #ff0000 0%, #7b0707 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 9px);
}

.web-1920-2 .logout-SUBcrq {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  bottom: calc(44.74% - 10px);
  height: 22px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 3px);
}

.web-1920-2 .icon-ionic-md-sad-SUBcrq {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 17px;
  top: calc(47.33% - 11px);
  width: 22px;
}

.web-1920-2 .path-8-5JRGJL {
  background-color: transparent;
  bottom: calc(31.82% - 1px);
  height: 4px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.web-1920-2 .path-9-5JRGJL {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .path-10-5JRGJL {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(29.41% - 1px);
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-2 .path-11-5JRGJL {
  background-color: transparent;
  height: 4px;
  left: calc(29.41% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(35.29% - 2px);
  width: 4px;
}

.web-1920-2 .rectangle-99-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1319px;
  position: absolute;
  top: 444px;
  width: 463px;
}

.web-1920-2 .path-19-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1344px;
  object-fit: cover;
  position: absolute;
  top: 460px;
  width: 419px;
}

.web-1920-2 .rectangle-100-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 503px;
  width: 465px;
}

.web-1920-2 .path-20-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 519px;
  width: 419px;
}

.web-1920-2 .rectangle-101-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 560px;
  width: 465px;
}

.web-1920-2 .path-21-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 388px;
}

.web-1920-2 .rectangle-102-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 619px;
  width: 465px;
}

.web-1920-2 .line-4-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 635px;
  width: 388px;
}

.web-1920-2 .rectangle-103-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 680px;
  width: 465px;
}

.web-1920-2 .path-27-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 696px;
  width: 388px;
}

.web-1920-2 .rectangle-104-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 741px;
  width: 465px;
}

.web-1920-2 .path-22-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 757px;
  width: 345px;
}

.web-1920-2 .rectangle-105-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 802px;
  width: 465px;
}

.web-1920-2 .path-23-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 818px;
  width: 343px;
}

.web-1920-2 .rectangle-106-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 863px;
  width: 465px;
}

.web-1920-2 .path-24-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 879px;
  width: 340px;
}

.web-1920-2 .rectangle-107-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 923px;
  width: 465px;
}

.web-1920-2 .path-25-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 939px;
  width: 293px;
}

.web-1920-2 .rectangle-108-07RRWM {
  background-color: transparent;
  border-radius: 17px;
  height: 33px;
  left: 1318px;
  position: absolute;
  top: 984px;
  width: 465px;
}

.web-1920-2 .path-26-07RRWM {
  background-color: transparent;
  height: 1px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 1000px;
  width: 293px;
}

.web-1920-2 .x0-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1336px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 456px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x10-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1765px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 454px;
  width: 22px;
}

.web-1920-2 .x0-keAnDz {
  background-color: transparent;
  height: auto;
  left: 1335px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 513px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-A1emAz {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 572px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-0jfHor {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 631px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-iVjEg0 {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 690px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-iUG7s7 {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 753px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-379zcJ {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 812px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-ehGIQc {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 875px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-VX7Y6I {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 933px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x0-RMOaqL {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 996px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .x10-keAnDz {
  background-color: transparent;
  height: auto;
  left: 1764px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 511px;
  width: 22px;
}

.web-1920-2 .x9-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 570px;
  width: 22px;
}

.web-1920-2 .x9-keAnDz {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 627px;
  width: 22px;
}

.web-1920-2 .x9-A1emAz {
  background-color: transparent;
  height: auto;
  left: 1734px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 686px;
  width: 22px;
}

.web-1920-2 .x8-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1691px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 749px;
  width: 22px;
}

.web-1920-2 .x8-keAnDz {
  background-color: transparent;
  height: auto;
  left: 1689px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 810px;
  width: 22px;
}

.web-1920-2 .x8-A1emAz {
  background-color: transparent;
  height: auto;
  left: 1689px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 869px;
  width: 22px;
}

.web-1920-2 .x7-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1643px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 933px;
  width: 22px;
}

.web-1920-2 .x7-keAnDz {
  background-color: transparent;
  height: auto;
  left: 1643px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 992px;
  width: 22px;
}

.web-1920-2 .johnathan-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1335px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 432px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .puzzie-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 491px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .jack-plummer-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 548px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .duke-yeun-yim-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 607px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .yim-carry-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 668px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .jaxx-kurry-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1334px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 729px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .smoky-every-day-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 790px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .fury7-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 851px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .hollji-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 912px;
  white-space: nowrap;
  width: auto;
}

.web-1920-2 .garry-norman-07RRWM {
  background-color: transparent;
  height: auto;
  left: 1331px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 972px;
  white-space: nowrap;
  width: auto;
}
